<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.droidkit.file">

    <application>
        <activity android:name="com.droidkit.pickers.file.FilePickerActivity"
                  android:label="@string/picker_file_activity_title"
                  android:theme="@style/PickerTheme.FilePicker">
        </activity>
        <activity android:name="com.droidkit.pickers.map.MapPickerActivity"
                  android:label="@string/picker_map_activity_title">
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
