<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.happysanta.messenger" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.happysanta.messenger.MessengerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_ab_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.happysanta.messenger.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name="org.happysanta.messenger.start.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.happysanta.messenger.messages.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
