<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.happysanta.messenger" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MessengerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.vk.sdk.VKOpenAuthActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".start.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messages.ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name=".longpoll.LongpollService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".user.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>

        <activity
            android:name=".messages.groupchats.ChatInfoActivity"
            android:label="@string/title_activity_group_info" >
        </activity>
        
        <activity
            android:name=".posts.PostActivity"
            android:label="@string/title_activity_post" >
        </activity>

        <activity
            android:name=".audio.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>

        <activity
            android:name=".posts.manage.ManageActivity"
            android:label="@string/title_activity_manage" >
        </activity>

        <activity
            android:name=".video.VideoPlayerActivity" >
        </activity>

        <activity
            android:name=".posts.ComposeActivity"
            android:label="@string/title_activity_compose" >
        </activity>

    </application>

</manifest>
